/* Organization is from parent top parent component down */

/* Ratings and Reviews title div*/
#RatingsAndReviews{
  margin-bottom: 100px;
  margin-top: 150px;
  padding: 10px;
}

#RatingsAndReviews-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

#title-sort-form{
  margin-left: auto;

}
#title-reset-button{
  margin-left: 15px;
}

#RatingsAndReviews-wrapper{
  display: flex;
  border: 2px solid black;
}

/* Rating and Reviews Sidebar */

.RatingsAndReviews-sidebar {
  width: 20vw;
}

#product-breakdown{
  margin-left: 20px;
  margin-top: 20px;
}

.product-breakdown-items{
  margin-top:15px;
  margin-bottom: 15px;
}

.stars-bars{
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
}

/* Rating and Reviews Content */

.RatingsAndReviews-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}


/* Individual Review Tile */
.IndividualReviewTile-wrapper{
  height: 800px;
  overflow-y: scroll;
  padding: 10px 10px;
  margin-right: 20px;
  
}

.IndividualReviewTile-content{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightskyblue;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px 10px;
}

.IndividualReviewTile-content-title {
  display: flex;
  align-items: center;
}

.IndividualReviewTile-content-username{
  margin-left: auto;
  margin-right: 20px;
}

.IndividualReviewTile-content-date{
  margin-right: 10px;
}

.IndividualReviewTile-images{
  display: flex;
}

.IndividualReviewTile-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding:2px;
    object-fit: cover;
  }

.IndividualReviewTile-helpful-button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}



.IndividualReviewTileInsideModal-img {
  width: 700px;
  padding:2px;
}

#RatingAndReviews-buttons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

  /* .bottom-button-collective {
    margin-left: 15%;
    margin-right: 15%;
  }
  .bottom-buttons {
    height: 50px;
    width:300px;
    background-color: #CCF2F4;
    border: 1px solid black;
  } */











  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  flex-direction: column;
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow-y: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: 1000px;
  overflow-y: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Progress Bar */
progress {
  background: green;
}

/* Star Rating */
.txt-center {
  text-align: center;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}
