#addtocart-container {
  width: 100%;
  float: left;
  position: relative;
  left: 10%;
  margin: 5px;
  font-size: 15px;
  border-radius: 5px;
}

#addtocart-button {
  width: 90%;
  height: 5vw;
  border: 3vw;
  box-shadow: 0 0 0 1px black;
  background-color: #6DBCBE;
  text-align: left;
  border-radius: 5px;
}

#addtocart-text {
  width: 100%;
  font-size: 1vw;
  margin-left: 10px;
  border-radius: 5px;
}

#addtocart-button:hover {
  background-color: #3DA3A5;
  cursor: pointer;
}