#imagegallery-container {
}

#imagegallery-mainimage-container {
  position: relative;
  width: 1000px;
  height:1000px;
}

/* #imagegallery-slide-container {
  position: relative;
  overflow-x: scroll; Switch this to hidden in order to hide the scroll bar
  white-space: nowrap;
  width: 1000px;
} */

#imagegallery-slide-image {
  height: 1000px;
  width: 1000px;
  background-size: cover;
  position: absolute;
  display: inline-block;
}

#imagegallery-leftarrow {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 2;
  top: 500px;
  left: 10px;
}

#imagegallery-rightarrow {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 2;
  top: 500px;
  right: 10px;
}
