#Overview {
  position: relative;
  width: 100%;
}

#overview-order-container {
  width: 35%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#no-cart{
  /* width: 100%; */
  position: relative;
  float: left;
  margin: 5px;
  left: 10%;
  width: 100%;
  display: inline-block;
}

#product-info-overview{
  font-size: 1.5vw;
  font-family: sans-serif;
  width: 70%;
  margin: 5% 0 2% 2%;
}