#product-info-star-rating {
  width: 100%;
  position: relative;
}

#product-info-category {
  width: 100%;
  float: left;
  position: relative;
  left: 10%;
  margin: 5px;
  font-size: 1vw;
  font-family: sans-serif;
}


#product-info-title{
  width: 100%;
  float: left;
  position: relative;
  left: 9%;
  margin: 5px;
  font-size: 2vw;
  font-family: sans-serif;
  font-weight: bolder;
}

#productinformation-sale {
  width: 100%;
  float: left;
  position: relative;
}

#product-info-price-discount {
  left: 10%;
  float: left;
  position: relative;
  margin: 5px;
  margin-left: 1px;
  font-size: 1vw;
  font-family: sans-serif;
}

#product-info-price-line {
  float: left;
  position: relative;
  margin: 5px;
  left: 10%;
  margin-left: 1px;
  font-size: 1vw;
  font-family: sans-serif;
}

#product-info-price {
  width: 100%;
  float: left;
  position: relative;
  left: 10%;
  margin: 5px;
  margin-left: 1px;
  font-size: 1vw;
  font-family: sans-serif;
}

#product-info-share {
  display: inline-block;
}

#product-info-share-facebook {
  width: 2vw;
  height: 2vw;
  border-radius: 50px;
  background-size: cover;
  box-shadow: 0px 0px 0px 1px black;
  margin: 3px;
}

#product-info-share-twitter {
  width: 2vw;
  height: 2vw;
  border-radius: 50px;
  background-size: cover;
  box-shadow: 0px 0px 0px 1px black;
  margin: 3px;
}

#product-info-share-pinterest {
  width: 2vw;
  height: 2vw;
  border-radius: 50px;
  background-size: cover;
  box-shadow: 0px 0px 0px 1px black;
  margin: 3px;
}

#product-info-share-pinterest{
  cursor: pointer;
}

#product-info-share-facebook{
  cursor: pointer;
}

#product-info-share-twitter{
  cursor: pointer;
}

#sizes-container-addtocart {
  position: relative;
}

#sizes-select-addtocart {
  position: absolute;
  z-index: 2;
}

#product-info-star-rating{
  display: inline-block;
  left: 10%;
  top: 10%;
  margin-top: 10%;
}

#overviewAverage{
  display: inline-block;
}

#review-text{
  text-decoration: underline;
  font-size: 0.5vw;
  font-family: sans-serif;
  width: 20%;
  display: inline-block;
}

#review-text:hover{
  cursor: pointer;
}