#sizes-container{
  position: relative;
  margin: 5px;
  left: 10%;
  width: 54%;
  height: 3vw;
  display: inline-block;
}

#sizes-select{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  font-size: 1vw;
  text-align: center;
  height: 3vw;
  background-color: #6DBCBE;
  cursor: pointer;
}

#sizes-select-addtocart {
  width: 100%;
  font-size: 1vw;
  background-color: #6DBCBE;
}

#sizes-select:hover {
  background-color: #3DA3A5;
}