#sizes-container{
  position: relative;
  margin: 5px;
  left: 10%;
  width: 54%;
  height: 3vw;
  display: inline-block;
}

#sizes-select{
  width: 100%;
  height: 100%;
  font-size: 1vw;
  text-align: center;
}

#sizes-select-addtocart {
  width: 100%;
  font-size: 1.5vw;
}

#sizes-select:hover {
  background-color: rgb(233, 233, 233);
}

#sizes-select:hover{
  cursor: pointer;
}