#style-div {
  display: inline-block;
  padding:2px;
  margin: 5px;
}

#check-img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  bottom: 22px;
  left: 50%;
}

#style-img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding:2px;
}

#style-title {
  position: relative;
  margin: 5px;
  left: 10%;
  margin-left: 1px;
  font-size: 15px;
  font-family: sans-serif;
  width: 100%;
}

#styles-thumbnail-container {
  margin: 5px;
  left: 5%;
  margin-left: 1px;
  width: 100%;
  position: relative;
}