body{
  margin: 0;
  background-color: #f4f9f9;

}

#app {
  width: 70%;
  margin: 0 15% 0 15%;
  outline: 1px solid red;
  color: #464b4b;
}

input {
  background-color: #f4f9f9;
  border-radius: 5px;
  border: 1px solid black;
}

/* renderStarsCSS */
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}