body{
  margin: 0;
  background-color: #f4f9f9;

}

#app {
  width: 70%;
  margin: 0 15% 0 15%;
  color: #464b4b;
}

input {
  background-color: #f4f9f9;
  border-radius: 5px;
  border: 1px solid black;
}

/* renderStarsCSS */
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 2vw;
}

.stars-outer::before {
  content: "\2606 \2606 \2606 \2606 \2606";
  font-size: 2vw;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-family: FontAwesome;
  font-size: 2vw;
}

.stars-inner::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  color: #f8ce0b;
  font-size: 2vw;
}

#searchbar{
  text-align: center;
  margin: 5px;
}
