body{
  margin: 0;
}

#app {
  width: 70%;
  margin: 0 15% 0 15%;
  outline: 1px solid red;
}

/* renderStarsCSS */
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\2606 \2606 \2606 \2606 \2606";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  color: #f8ce0b;
}

#searchbar{
  text-align: center;
  margin: 5px;
}
