
#QandA {
  height: 800px;
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 15px;

}
#module-title {
  padding-left: 10px;
  font-family: 'Lato', sans-serif;

}
#QandA-Search {
  height: 50px;
  margin: 5px;
  width: 70%;
}
#search-bar {
  width: 100%;
  height: 30px;
  margin: 10px;
}

.hidden-element {
  display: none;
}

#questions-container {
  margin: 5px, 5px, 5px, 5px;
  padding: 5px;
  height: 600px;
  overflow-y: scroll;
  background-color: #f4f9f9;
}


.q-style {
  font-weight: bold;
}

.bottom-button-collective {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;

}

.bottom-buttons {
  height: 50px;
  width:300px;
  background-color: #6dbcbe;
  border: 1px solid black;

}

input::selection {
  background-color: rgb(255, 255, 255);
}

.bottom-border {
  margin: 50px 10% 50px 10%;
  padding: 5px;
  width: 80%;
  border-bottom: 1px solid black;
}
#top-border {
  margin: 50px 10% 50px 10%;
  padding: 5px;
  width: 80%;
  border-bottom: 1px solid black;
}