

.inner-question-container {
  border: 1px solid black;
  margin: 10px;
  background-color: #ccf2f4;
  border-radius: 5px;

}

.QandA-question {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  background-color: #f4f9f9;
  border-radius: 5px;
}


.answer-container {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}


button {
  border: none;
  background-color: #ccf2f4;
  border-radius: 5px;
}


.question-accessories {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-left: auto;
  align-items: center;

}

.question-helpful-yes button {
  background-color: #f4f9f4;
  border: none;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.question-helpful-yes button::selection {
  text-decoration: none;
}

.add-an-answer, .report-style, .divider, .yes-style {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.q-style {
  margin-right: 30px;
}

.more-answers {
  background-color: #f4f9f4;
  width: 20%;
  height: 20px;
  margin: 20px 40% 20px 40%;
}
